### Get the names of all the streets in Madrid

In [58]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs


dict_streets = {"Letter":[],"Street":[]}

for letter in range(ord('A'), ord('Z')+1):
    letra = chr(letter)
    url = f"https://gestiona.comunidad.madrid/nomecalles/ListaCalles.icm?munic=079&letra_inicial={letra}"
    response = requests.get(url)

    if response.status_code == 200:

        soup = bs(response.text, 'html.parser')
        
        streets = soup.find_all("a",class_="enlace")[28:]
        
        for street in streets:
            #print(street.get_text(strip=True)) 
            dict_streets["Letter"].append(letra)
            dict_streets["Street"].append(street.get_text(strip=True))
    else:
        print('ERROR! :', response.status_code)

df = pd.DataFrame(dict_streets)
df

     Letter                      Street
0         A  Calle de Abad Juan Catalán
1         A              Calle de Abada
2         A             Calle de Abades
3         A         Calle de la Abadesa
4         A             Calle de Ábalos
...     ...                         ...
9225      Z           Calle de Zurbarán
9226      Z            Calle de Zurgena
9227      Z             Calle de Zurich
9228      Z             Calle de Zurita
9229      Z            Paseo del Zurrón

[9230 rows x 2 columns]

In [63]:
df.index = range(1, len(df) + 1)
df

     Letter                      Street
1         A  Calle de Abad Juan Catalán
2         A              Calle de Abada
3         A             Calle de Abades
4         A         Calle de la Abadesa
5         A             Calle de Ábalos
...     ...                         ...
9226      Z           Calle de Zurbarán
9227      Z            Calle de Zurgena
9228      Z             Calle de Zurich
9229      Z             Calle de Zurita
9230      Z            Paseo del Zurrón

[9230 rows x 2 columns]

### Export to csv

In [62]:
df.to_csv("./data/streets.csv",index=False)