### Import Libraries

In [28]:
import yfinance as yf
import pandas as pd

### Get ticker list of SP500 members

In [29]:
# Example of a URL where you can find the constituents of the S&P 500 index
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'


# Reading tables from the URL
data = pd.read_html(url)

# The first table on the page often contains the S&P 500 constituents
df_members = data[0]


ticker_list = df_members['Symbol'].tolist()
ticker_list

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADM',
 'ADBE',
 'ADP',
 'AES',
 'AFL',
 'A',
 'ABNB',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BG',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FSLR',
 'FE',
 'FIS',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

### Code for Apple that worked

In [39]:

# Get Apple stock data for the past year
apple = yf.Ticker("AAPL")

# Get historical market data for the past year
df = apple.history(period="1y")

df['Stock'] = "Apple"

df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock
Date,,,,,,,,
2022-11-11 00:00:00-05:00,145.009482,149.176179,143.567529,148.867905,93979700,0.00,0.0,Apple
2022-11-14 00:00:00-05:00,148.141947,149.444663,146.610499,147.455780,73374100,0.00,0.0,Apple
2022-11-15 00:00:00-05:00,151.373915,152.736295,147.734255,149.206024,89868300,0.00,0.0,Apple
2022-11-16 00:00:00-05:00,148.301058,149.036935,146.471274,147.962936,64218300,0.00,0.0,Apple
2022-11-17 00:00:00-05:00,145.616070,150.638003,145.337627,149.882233,80389400,0.00,0.0,Apple
...,...,...,...,...,...,...,...,...
2023-11-06 00:00:00-05:00,176.147945,179.193920,175.978171,178.994186,63841300,0.00,0.0,Apple
2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0,Apple
2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0,Apple
2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0,Apple
2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0,Apple

In [20]:
columns = df.columns
columns.insert(0,"Date")

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [21]:
columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [22]:
df.to_csv("data/stocks.csv", mode='a',header=False,index=True)

stock = pd.read_csv('data/stocks.csv',skiprows=1)



stock.columns = columns.insert(0,"Date")

stock

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-11-15 00:00:00-05:00,151.373915,152.736295,147.734255,149.206024,89868300,0.00,0.0
1,2022-11-16 00:00:00-05:00,148.301073,149.036950,146.471289,147.962952,64218300,0.00,0.0
2,2022-11-17 00:00:00-05:00,145.616070,150.638003,145.337627,149.882233,80389400,0.00,0.0
3,2022-11-18 00:00:00-05:00,151.463401,151.851232,149.136411,150.449066,74829600,0.00,0.0
4,2022-11-21 00:00:00-05:00,149.325345,149.534169,146.898905,147.187286,58724100,0.00,0.0
...,...,...,...,...,...,...,...,...
244,2023-11-06 00:00:00-05:00,176.147945,179.193920,175.978171,178.994186,63841300,0.00,0.0
245,2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0
246,2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0
247,2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0
248,2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0

In [24]:
stock['Stock'] = "Apple"

stock

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock
0,2022-11-15 00:00:00-05:00,151.373915,152.736295,147.734255,149.206024,89868300,0.00,0.0,Apple
1,2022-11-16 00:00:00-05:00,148.301073,149.036950,146.471289,147.962952,64218300,0.00,0.0,Apple
2,2022-11-17 00:00:00-05:00,145.616070,150.638003,145.337627,149.882233,80389400,0.00,0.0,Apple
3,2022-11-18 00:00:00-05:00,151.463401,151.851232,149.136411,150.449066,74829600,0.00,0.0,Apple
4,2022-11-21 00:00:00-05:00,149.325345,149.534169,146.898905,147.187286,58724100,0.00,0.0,Apple
...,...,...,...,...,...,...,...,...,...
244,2023-11-06 00:00:00-05:00,176.147945,179.193920,175.978171,178.994186,63841300,0.00,0.0,Apple
245,2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0,Apple
246,2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0,Apple
247,2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0,Apple
248,2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0,Apple

In [25]:
apple.to_csv("data/apple.csv")

### Loop Code for all Stocks

In [40]:


for ticker in ticker_list[0:3]:

    stock = yf.Ticker(f"{ticker}")
    new_data = stock.history(period="1mo")
    new_data['Stock'] = f"{ticker}"

    df = pd.concat([df, new_data], ignore_index=False)
    

df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock
Date,,,,,,,,
2022-11-11 00:00:00-05:00,145.009482,149.176179,143.567529,148.867905,93979700,0.0,0.0,Apple
2022-11-14 00:00:00-05:00,148.141947,149.444663,146.610499,147.455780,73374100,0.0,0.0,Apple
2022-11-15 00:00:00-05:00,151.373915,152.736295,147.734255,149.206024,89868300,0.0,0.0,Apple
2022-11-16 00:00:00-05:00,148.301058,149.036935,146.471274,147.962936,64218300,0.0,0.0,Apple
2022-11-17 00:00:00-05:00,145.616070,150.638003,145.337627,149.882233,80389400,0.0,0.0,Apple
...,...,...,...,...,...,...,...,...
2023-11-06 00:00:00-05:00,95.550003,95.809998,94.410004,95.000000,6137400,0.0,0.0,ABT
2023-11-07 00:00:00-05:00,94.930000,95.440002,94.500000,94.800003,4466500,0.0,0.0,ABT
2023-11-08 00:00:00-05:00,95.220001,95.730003,93.790001,94.739998,4416000,0.0,0.0,ABT
2023-11-09 00:00:00-05:00,94.879997,95.190002,93.389999,93.550003,5007900,0.0,0.0,ABT
2023-11-10 00:00:00-05:00,93.699997,94.220001,92.430000,93.970001,5479100,0.0,0.0,ABT