### Install yfinance

!pip install yfinance

!pip install pandas_datareader

In [90]:
import yfinance as yf
from datetime import datetime

# Define the ticker symbol
ticker_symbol = 'AAPL'  # Example: Apple Inc. (AAPL)

# Get stock data
stock_data = yf.Ticker(ticker_symbol)

# Fetch historical data
historical_data = stock_data.history(period="1mo")  # Fetching data for the last 1 month

historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-11 00:00:00-04:00,177.965530,179.613368,177.366328,179.563431,47551100,0.00,0.0
2023-10-12 00:00:00-04:00,179.833087,182.100089,178.804428,180.472244,56743100,0.00,0.0
2023-10-13 00:00:00-04:00,181.181296,181.690619,177.905613,178.614685,51427100,0.00,0.0
2023-10-16 00:00:00-04:00,176.517454,178.844390,176.277764,178.484863,52517000,0.00,0.0
2023-10-17 00:00:00-04:00,176.417574,178.185249,174.570017,176.916916,57549400,0.00,0.0
2023-10-18 00:00:00-04:00,175.348990,177.346359,174.879607,175.608643,54764400,0.00,0.0
2023-10-19 00:00:00-04:00,175.808380,177.606015,174.959507,175.229156,59302900,0.00,0.0
2023-10-20 00:00:00-04:00,175.079338,175.189193,172.412852,172.652542,64189300,0.00,0.0
2023-10-23 00:00:00-04:00,170.685138,173.781050,169.706417,172.772385,55980100,0.00,0.0
2023-10-24 00:00:00-04:00,172.822321,173.441500,171.224420,173.211807,43816600,0.00,0.0
2023-10-25 00:00:00-04:00,171.653866,172.832306,170.425473,170.874893,57157000,0.00,0.0
2023-10-26 00:00:00-04:00,170.145843,171.154523,165.452029,166.670425,70625300,0.00,0.0
2023-10-27 00:00:00-04:00,166.690399,168.737704,166.610502,167.998672,58499100,0.00,0.0
2023-10-30 00:00:00-04:00,168.797615,170.944780,168.647803,170.065933,51131000,0.00,0.0
2023-10-31 00:00:00-04:00,169.127189,170.675137,167.679084,170.545319,44846000,0.00,0.0
2023-11-01 00:00:00-04:00,170.775011,174.000757,169.896164,173.741104,56934900,0.00,0.0
2023-11-02 00:00:00-04:00,175.289074,177.546095,175.229156,177.336380,77334800,0.00,0.0
2023-11-03 00:00:00-04:00,174.010754,176.587362,173.121926,176.417572,79763700,0.00,0.0
2023-11-06 00:00:00-05:00,176.147945,179.193920,175.978171,178.994186,63841300,0.00,0.0
2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0
2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0
2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0
2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0

In [91]:
from pandas_datareader import data as pdr

yf.pdr_override()

In [92]:
tickers = ["NFLX"]

In [93]:

inicio = datetime(2018,9,26)
fin = datetime(2023,9,26)

In [94]:
datos = pdr.get_data_yahoo(tickers,inicio,fin)

[*********************100%%**********************]  1 of 1 completed

In [95]:
datos

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-09-26,373.589996,382.000000,370.880005,377.880005,377.880005,13799700
2018-09-27,379.869995,383.200012,376.000000,380.709991,380.709991,7326200
2018-09-28,379.239990,380.799988,373.730011,374.130005,374.130005,7114900
2018-10-01,375.850006,386.109985,375.589996,381.429993,381.429993,8376600
2018-10-02,384.380005,386.799988,373.829987,377.140015,377.140015,8638700
...,...,...,...,...,...,...
2023-09-19,392.839996,398.230011,390.250000,396.200012,396.200012,4076800
2023-09-20,397.049988,397.989990,386.119995,386.299988,386.299988,3866600
2023-09-21,386.500000,395.899994,383.420013,384.149994,384.149994,5547900
2023-09-22,385.000000,386.880005,378.359985,379.809998,379.809998,3692800
2023-09-25,382.899994,386.619995,380.809998,384.799988,384.799988,3757300

#### Get SP500 tickers from wikipedia (should check to see if it is updated/reliable)

In [96]:
import pandas as pd

# Example of a URL where you can find the constituents of the S&P 500 index
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'


# Reading tables from the URL
data = pd.read_html(url)

# The first table on the page often contains the S&P 500 constituents
df = data[0]
df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [97]:
ticker_list = df['Symbol'].tolist()
ticker_list

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADM',
 'ADBE',
 'ADP',
 'AES',
 'AFL',
 'A',
 'ABNB',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BG',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FSLR',
 'FE',
 'FIS',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [98]:
inicio = datetime(2022,12,31)
fin = datetime(2023,11,9)


try:
    datos = pdr.get_data_yahoo(ticker_list, inicio, fin)
except pdr._utils.RemoteDataError as e:
    print(f"Error fetching data: {e}")

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-12-31 00:00:00 -> 2023-11-09 00:00:00)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [99]:
datos

             Adj Close                                                         \
                     A    AAL        AAPL        ABBV        ABNB         ABT
Date
2023-01-03  149.209625  12.74  124.374794  156.074890   84.900002  107.430855
2023-01-04  150.830612  13.59  125.657639  157.334015   88.720001  109.028885
2023-01-05  151.268173  13.99  124.325081  157.141785   87.709999  108.626930
2023-01-06  146.852753  14.18  128.899506  160.082977   88.519997  110.126923
2023-01-09  146.653839  14.61  129.426544  155.382843   89.239998  109.950455
...                ...    ...         ...         ...         ...         ...
2023-11-02  104.470001  11.40  177.336380  143.259995  115.500000   95.959999
2023-11-03  109.019997  11.98  176.417572  141.419998  122.639999   95.839996
2023-11-06  107.529999  11.66  178.994186  141.199997  118.169998   95.000000
2023-11-07  110.540001  11.75  181.580780  142.160004  121.080002   94.800003
2023-11-08  109.389999  12.01  182.649368  142.029999  117.660004   94.739998

                                                           ...   Volume  \
                 ACGL         ACN        ADBE         ADI  ...     WYNN
Date                                                       ...
2023-01-03  62.459999  266.033325  336.920013  160.165329  ...  3318600
2023-01-04  62.770000  265.127716  341.410004  163.576675  ...  5743600
2023-01-05  62.939999  258.867188  328.440002  157.444138  ...  2983000
2023-01-06  63.900002  264.999725  332.750000  163.192154  ...  2901900
2023-01-09  62.669998  269.468719  341.980011  164.749954  ...  2751000
...               ...         ...         ...         ...  ...      ...
2023-11-02  85.940002  308.119995  558.710022  164.339996  ...  1839800
2023-11-03  85.550003  313.489990  563.659973  167.919998  ...  1866100
2023-11-06  85.160004  313.089996  565.450012  167.570007  ...  2470600
2023-11-07  85.410004  315.190002  585.200012  168.110001  ...  1994000
2023-11-08  84.120003  317.820007  585.309998  168.910004  ...  2621400

                                                                           \
                XEL       XOM     XRAY      XYL      YUM      ZBH    ZBRA
Date
2023-01-03  2684500  15146200  1653800   812400  2307100   921100  295400
2023-01-04  2265900  18058400  3697800   905900  1139400  1389400  311600
2023-01-05  2104500  15946600  4455700  1295700  1078200  2238300  368200
2023-01-06  2976200  16348100  2058700   636200  1559400  2348900  552700
2023-01-09  2707800  17964600  1468900  1224700  1211200  1423600  535400
...             ...       ...      ...      ...      ...      ...     ...
2023-11-02  3961300  25212700  8659200  1666600  1920500  3030300  758500
2023-11-03  3920600  30549000  5097400  1852500  1754600  2140100  540800
2023-11-06  3139700  19097300  4935000  1324300  1537900  2443700  373800
2023-11-07  3515300  20272500  3418500  1385100  1408000  2699200  613300
2023-11-08  3953300  19184100  3766000  1062400  1015300  1524700  525900


               ZION      ZTS
Date
2023-01-03  1175800  1840600
2023-01-04  1689000  1796100
2023-01-05   867800  1560900
2023-01-06  1363700  1761200
2023-01-09   902700  1700500
...             ...      ...
2023-11-02  3026800  4137800
2023-11-03  2598900  1974700
2023-11-06  1551900  2112500
2023-11-07  1763500  2938200
2023-11-08  1755000  3326300

[215 rows x 3018 columns]

In [100]:
first_level_columns = datos.loc[:, datos.columns.get_level_values(0) == 'Adj Close']
first_level_columns

             Adj Close                                                         \
                     A    AAL        AAPL        ABBV        ABNB         ABT
Date
2023-01-03  149.209625  12.74  124.374794  156.074890   84.900002  107.430855
2023-01-04  150.830612  13.59  125.657639  157.334015   88.720001  109.028885
2023-01-05  151.268173  13.99  124.325081  157.141785   87.709999  108.626930
2023-01-06  146.852753  14.18  128.899506  160.082977   88.519997  110.126923
2023-01-09  146.653839  14.61  129.426544  155.382843   89.239998  109.950455
...                ...    ...         ...         ...         ...         ...
2023-11-02  104.470001  11.40  177.336380  143.259995  115.500000   95.959999
2023-11-03  109.019997  11.98  176.417572  141.419998  122.639999   95.839996
2023-11-06  107.529999  11.66  178.994186  141.199997  118.169998   95.000000
2023-11-07  110.540001  11.75  181.580780  142.160004  121.080002   94.800003
2023-11-08  109.389999  12.01  182.649368  142.029999  117.660004   94.739998

                                                           ...             \
                 ACGL         ACN        ADBE         ADI  ...       WYNN
Date                                                       ...
2023-01-03  62.459999  266.033325  336.920013  160.165329  ...  85.190659
2023-01-04  62.770000  265.127716  341.410004  163.576675  ...  90.454742
2023-01-05  62.939999  258.867188  328.440002  157.444138  ...  90.892578
2023-01-06  63.900002  264.999725  332.750000  163.192154  ...  93.111664
2023-01-09  62.669998  269.468719  341.980011  164.749954  ...  93.867935
...               ...         ...         ...         ...  ...        ...
2023-11-02  85.940002  308.119995  558.710022  164.339996  ...  89.750000
2023-11-03  85.550003  313.489990  563.659973  167.919998  ...  92.760002
2023-11-06  85.160004  313.089996  565.450012  167.570007  ...  95.139999
2023-11-07  85.410004  315.190002  585.200012  168.110001  ...  93.180000
2023-11-08  84.120003  317.820007  585.309998  168.910004  ...  92.900002

                                                                      \
                  XEL         XOM       XRAY         XYL         YUM
Date
2023-01-03  68.322754  103.935394  32.320267  109.695824  125.204720
2023-01-04  68.907791  104.237900  33.397938  109.527451  126.900940
2023-01-05  67.513451  106.570129  32.715744  106.417625  125.934486
2023-01-06  69.512329  107.858215  33.051895  110.200920  128.488663
2023-01-09  70.185127  105.848007  32.616879  110.715919  127.965996
...               ...         ...        ...         ...         ...
2023-11-02  61.070000  109.110001  28.540001   94.309998  124.269997
2023-11-03  61.029999  107.779999  29.209999   96.930000  126.339996
2023-11-06  60.560001  105.870003  28.559999   96.160004  126.389999
2023-11-07  59.830002  104.209999  28.400000   96.769997  125.480003
2023-11-08  59.080002  102.930000  27.680000   96.809998  125.610001


                   ZBH        ZBRA       ZION         ZTS
Date
2023-01-03  126.551857  260.200012  46.149616  145.522568
2023-01-04  127.725121  262.989990  47.835228  147.613495
2023-01-05  125.358727  260.059998  46.997185  144.135208
2023-01-06  124.980896  273.420013  48.816124  146.305405
2023-01-09  125.328903  279.290009  48.587566  145.730652
...                ...         ...        ...         ...
2023-11-02  110.199997  207.000000  32.830460  160.910004
2023-11-03  108.750000  214.300003  34.342064  162.229996
2023-11-06  109.300003  206.020004  33.769039  163.169998
2023-11-07  105.930000  208.039993  33.689999  167.160004
2023-11-08  104.860001  206.440002  33.759998  170.869995

[215 rows x 503 columns]

In [101]:
type(first_level_columns)

pandas.core.frame.DataFrame

In [102]:
datos.to_csv("stocks.csv", index=False)

In [103]:

header_array = datos.columns.get_level_values(0).unique()
header_array

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [104]:
for i in header_array:
    header = i
    selected_df = datos.loc[:, datos.columns.get_level_values(0) == header]
    selected_df.to_csv(f"{header}.csv", index=True)

In [105]:
datos.loc[:, datos.columns.get_level_values(0) == 'High']

                  High                                                         \
                     A    AAL        AAPL        ABBV        ABNB         ABT
Date
2023-01-03  153.130005  13.00  130.899994  163.020004   88.139999  111.330002
2023-01-04  153.039993  13.61  128.660004  164.279999   88.839996  111.940002
2023-01-05  153.070007  14.01  127.769997  164.490005   88.500000  111.709999
2023-01-06  154.639999  14.25  130.289993  168.110001   88.739998  112.739998
2023-01-09  151.279999  14.79  133.410004  166.279999   92.050003  113.669998
...                ...    ...         ...         ...         ...         ...
2023-11-02  104.639999  11.47  177.779999  143.770004  122.739998   96.169998
2023-11-03  109.589996  12.08  176.820007  143.949997  123.449997   97.169998
2023-11-06  109.519997  12.10  179.429993  142.369995  123.930000   95.809998
2023-11-07  110.809998  11.84  182.440002  142.179993  122.180000   95.440002
2023-11-08  111.570000  12.27  183.449997  143.889999  121.199997   95.730003

                                                           ...             \
                 ACGL         ACN        ADBE         ADI  ...       WYNN
Date                                                       ...
2023-01-03  62.740002  273.420013  345.820007  166.199997  ...  86.500000
2023-01-04  63.130001  274.980011  345.630005  167.589996  ...  92.349998
2023-01-05  63.130001  268.140015  337.549988  165.630005  ...  92.400002
2023-01-06  64.059998  270.489990  334.880005  166.750000  ...  94.720001
2023-01-09  63.990002  278.489990  349.459991  169.910004  ...  95.889999
...               ...         ...         ...         ...  ...        ...
2023-11-02  90.290001  308.880005  559.359985  165.270004  ...  91.089996
2023-11-03  86.930000  316.730011  567.030029  169.460007  ...  93.370003
2023-11-06  85.949997  314.179993  567.880005  168.919998  ...  95.910004
2023-11-07  85.580002  318.369995  589.000000  169.119995  ...  94.470001
2023-11-08  85.970001  319.459991  595.669983  170.500000  ...  94.019997

                                                                      \
                  XEL         XOM       XRAY         XYL         YUM
Date
2023-01-03  70.500000  110.019997  33.810001  111.970001  128.839996
2023-01-04  71.230003  107.160004  34.029999  111.760002  129.220001
2023-01-05  70.459999  109.949997  33.540001  110.180000  128.559998
2023-01-06  71.580002  111.989998  33.619999  111.860001  130.699997
2023-01-09  72.489998  111.639999  33.689999  113.739998  131.250000
...               ...         ...        ...         ...         ...
2023-11-02  61.570000  109.190002  28.670000   96.290001  125.730003
2023-11-03  62.020000  108.779999  29.620001   97.879997  126.849998
2023-11-06  61.230000  108.269997  29.490000   96.489998  126.709999
2023-11-07  60.709999  104.860001  28.799999   97.349998  126.379997
2023-11-08  59.689999  104.900002  28.670000   97.570000  126.059998


                   ZBH        ZBRA       ZION         ZTS
Date
2023-01-03  128.880005  262.690002  49.799999  148.789993
2023-01-04  129.360001  265.809998  50.840000  150.809998
2023-01-05  130.080002  260.940002  49.950001  148.179993
2023-01-06  127.209999  277.859985  51.459999  148.619995
2023-01-09  128.669998  283.529999  51.740002  149.520004
...                ...         ...        ...         ...
2023-11-02  110.820000  207.229996  33.349998  161.830002
2023-11-03  111.309998  217.139999  35.080002  164.720001
2023-11-06  109.440002  213.860001  35.090000  170.919998
2023-11-07  108.389999  208.259995  34.290001  167.449997
2023-11-08  106.480003  210.369995  34.169998  171.720001

[215 rows x 503 columns]

In [106]:
view = pd.read_csv('High.csv')

,Unnamed: 0,High,High.1,High.2,High.3,High.4,High.5,High.6,High.7,High.8,...,High.493,High.494,High.495,High.496,High.497,High.498,High.499,High.500,High.501,High.502
0,NaN,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-03 00:00:00,153.1300048828125,13.0,130.89999389648438,163.02000427246094,88.13999938964844,111.33000183105469,62.7400016784668,273.4200134277344,345.82000732421875,...,86.5,70.5,110.0199966430664,33.810001373291016,111.97000122070312,128.83999633789062,128.8800048828125,262.69000244140625,49.79999923706055,148.7899932861328
3,2023-01-04 00:00:00,153.0399932861328,13.609999656677246,128.66000366210938,164.27999877929688,88.83999633789062,111.94000244140625,63.130001068115234,274.9800109863281,345.6300048828125,...,92.3499984741211,71.2300033569336,107.16000366210938,34.029998779296875,111.76000213623047,129.22000122070312,129.36000061035156,265.80999755859375,50.84000015258789,150.80999755859375
4,2023-01-05 00:00:00,153.07000732421875,14.010000228881836,127.7699966430664,164.49000549316406,88.5,111.70999908447266,63.130001068115234,268.1400146484375,337.54998779296875,...,92.4000015258789,70.45999908447266,109.94999694824219,33.540000915527344,110.18000030517578,128.55999755859375,130.0800018310547,260.94000244140625,49.95000076293945,148.17999267578125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,2023-11-02 00:00:00,104.63999938964844,11.470000267028809,177.77999877929688,143.77000427246094,122.73999786376953,96.16999816894531,90.29000091552734,308.8800048828125,559.3599853515625,...,91.08999633789062,61.56999969482422,109.19000244140625,28.670000076293945,96.29000091552734,125.7300033569336,110.81999969482422,207.22999572753906,33.349998474121094,161.8300018310547
213,2023-11-03 00:00:00,109.58999633789062,12.079999923706055,176.82000732421875,143.9499969482422,123.44999694824219,97.16999816894531,86.93000030517578,316.7300109863281,567.030029296875,...,93.37000274658203,62.02000045776367,108.77999877929688,29.6200008392334,97.87999725341797,126.8499984741211,111.30999755859375,217.13999938964844,35.08000183105469,164.72000122070312
214,2023-11-06 00:00:00,109.5199966430664,12.100000381469727,179.42999267578125,142.3699951171875,123.93000030517578,95.80999755859375,85.94999694824219,314.17999267578125,567.8800048828125,...,95.91000366210938,61.22999954223633,108.2699966430664,29.489999771118164,96.48999786376953,126.70999908447266,109.44000244140625,213.86000061035156,35.09000015258789,170.9199981689453
215,2023-11-07 00:00:00,110.80999755859375,11.84000015258789,182.44000244140625,142.17999267578125,122.18000030517578,95.44000244140625,85.58000183105469,318.3699951171875,589.0,...,94.47000122070312,60.709999084472656,104.86000061035156,28.799999237060547,97.3499984741211,126.37999725341797,108.38999938964844,208.25999450683594,34.290000915527344,167.4499969482422
216,2023-11-08 00:00:00,111.56999969482422,12.270000457763672,183.4499969482422,143.88999938964844,121.19999694824219,95.7300033569336,85.97000122070312,319.4599914550781,595.6699829101562,...,94.0199966430664,59.689998626708984,104.9000015258789,28.670000076293945,97.56999969482422,126.05999755859375,106.4800033569336,210.3699951171875,34.16999816894531,171.72000122070312

In [ ]:
stock = yf.Ticker("AAPL")
start_date = '2023-01-01'
end_date = '2023-11-10'

ticker_list

for i in ticker_list:
    stock = yf.Ticker(f"{i}")
    # Get the historical data within the specified date range
    stock_data = stock.history(start=start_date, end=end_date)
    closing_prices = stock_data['Close']

In [ ]:

view